@page
@model BloggieWeb.Pages.Admin.Blogs.ListModel
@{
}

<div class="bg-secondary bg-opacity-10 py-2 mb-5">
    <div class="container">
        <h1>Add blog post</h1>
    </div>
</div>

@{
    var messages = (string)ViewData["MessageDescription"];
}

@if(!string.IsNullOrWhiteSpace(messages))
            {
                <div class="container">
                    <div class="alert alert-success alert-dismissible fade show mb-5" role="alert">
                        @Html.Raw(messages)
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                </div>
            } 


@if (Model.BlogPosts != null && Model.BlogPosts.Any())
    {


<div class="container">
    <table class="table">
        <thead>
            <tr>
                <td>Id</td>
                <td>Heading</td>
                <td> </td>
            </tr>
        </thead>
        <tbody>
            @* the model.blogposts is from the cs file, public BlogPosts*@
            @foreach (var singleBlogPost in Model.BlogPosts)
                {
                <tr>
                    <td>@singleBlogPost.Id</td>
                    <td>@singleBlogPost.Heading</td>
                    <td><a href="/Admin/Blogs/Edit/@singleBlogPost.Id">Edit</a></td>
                </tr>
                }
        </tbody>
    </table>
</div>
    }
    else
    {
        <div class="container">
            <p> No Blog Post Found</p>
        </div>
            
    }